<li>
  <% classes = @current ? "relative block px-3 py-2 text-black underline decoration-brand decoration-2 underline-offset-4 dark:text-white" : "relative block px-3 py-2 transition hover:text-black hover:underline hover:decoration-brand hover:decoration-2 hover:underline-offset-4 dark:hover:text-white" %>
  <%= link_to @name, @href, class: classes %>
</li>
